.title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.text-field, .combo-box, .titled-pane, .scroll-pane {
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}

.btn-primary {
    -fx-background-color: #1e88e5;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
}
.btn-primary:hover { -fx-opacity: .92; }

.btn-secondary {
    -fx-background-color: #969CA3;
    -fx-text-fill: white;
    -fx-background-radius: 8;
}
