.table-view .column-header-background {
    -fx-background-color: #e0e0e0;
}

.table-view .column-header .label {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 0 10 0;
}

.sidebar-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-border-width: 0;
    -fx-alignment: CENTER_LEFT;
}

.sidebar-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.15);
    -fx-cursor: hand;
    -fx-text-fill: #ffffff;
}
